@import "./scss/base/index";
@import "./scss/components/index";
@import "./scss/shared/index";
@import "./scss/variables/index";
body {
  font-family: $base-font;
  font-weight: $normal;
  background-color: $mischka;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.product {
  position: relative;
  background-color: $white;
  border-radius: 26px;
  box-shadow: $shadow;
  padding-left: $lg;
  padding-top: $lg;
  padding-bottom: $lg;  
  display: flex; 
}

